@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
.project-container {
    display: flex;
    margin: 0;
    padding: 0;
    margin: 30px 60px 60px 60px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.project {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 40%;
    max-width: 500px;
    min-width: 200px;
    /* flex: 1; */
}

.project > img {
    width: 100%;
}

.header {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100vh;
}

.header__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-heading {
    font-size: min(120px,12vw);
    font-weight: bold;
}

.navbar {
    position: absolute;
    top: 30px;
}
.navbar > ul {
    display: flex;
    gap: 20px;
}
.down-icon {
    border: solid 2px black;
    border-radius: 20px;
    animation: linear 1s infinite toggle-scale alternate;
}

@keyframes toggle-scale {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}